<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.po.Application0403">
    <delete id="deleteByUID" parameterType="com.po.User">
        delete from application where UID = #{UID}
    </delete>
    <select id="selectApplicationByTime" resultType="com.po.Application0403">
        select * from application order by applicationTime desc
    </select>
    <select id="add" resultType="com.po.Application0403">
        insert into application (RID,PID,UID,applicationTime) values (#{RID},#{PID},#{UID},#{applicationTime})
    </select>
    <select id="findALLApplication" resultType="com.po.Application0403">
        select * from application;
    </select>

</mapper>