<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.po.Recruit0430">
    <select id="findRecuitBycity" resultType="com.po.Recruit0430">
        select * from recuit where city = #{city};
    </select>
    <select id="findRecuitByEID" resultType="com.po.Recruit0430">
        select * from recuit where EID = #{EID};
    </select>
    <select id="findRecuitByrequirement" resultType="com.po.Recruit0430">
        select * from recuit where requirement = #{requirement};
    </select>
    <select id="findALLRecuit" resultType="com.po.Recruit0430">
        select * from recuit;
    </select>
    <select id="delete" resultType="com.po.Recruit0430">
        delete from recuit where PID=#{PID};
    </select>
    <select id="findRecuitBytime" resultType="com.po.Recruit0430">
        select * from recuit order by time desc;
    </select>
    <select id="add" resultType="com.po.Recruit0430">
        insert into recuit (city,UID,EID,requirement,time,salary,companyname,companyInformation) values (#{city},#{UID},#{EID},#{requirement},#{time},#{salary},#{companyname},#{companyInformation})
    </select>
</mapper>